In [1]:
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [2]:
schools_df = pd.read_csv("schools.csv")

In [3]:
import pandas as pd

# Example DataFrame creation for demonstration (you should replace this with your actual DataFrame)
data = {
    'school_name': ['School A', 'School B', 'School C', 'School D'],
    'math_score': [820, 780, 850, 640]
}
schools_df = pd.DataFrame(data)

# Now, let's filter the schools with high math scores
best_math_schools = schools_df[schools_df['math_score'] >= 0.8 * 800]
best_math_schools['average_math'] = best_math_schools['math_score']
best_math_schools = best_math_schools[['school_name', 'average_math']].sort_values(by='average_math', ascending=False)

# Display the result
print(best_math_schools)

  school_name  average_math
2    School C           850
0    School A           820
1    School B           780
3    School D           640